* {
    margin: 0;
    padding: 0;
}

div {
    font-size: 30px;
    font-family: 'Playball', cursive;
}


a.ln {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

footer {
    height: 72px;
    background: #333;
    color: white;
    text-align: center;
    line-height: 72px;
}

button.nut {
    padding: 15px 40px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: #2e2ed3;
}

button.nut:hover a.ln {
    color: #aeaeae;
}

input.ip {
    padding: 21px 300px 16px 10px;
    border: 1px solid gray;
    border-radius: 8px;
    outline: none;
}

a.link {
    text-decoration: none;
    font-size: 20px;
}

a.link:hover {
    color: #0d0d43;
}

p.chu {
    font-size: 20px;
}

i {
    font-size: 50px;
    margin-bottom: 12px;
    color: #2e2ed3;
}

.cot-1 {
    width: 30%;
    margin-top: 20px;
    margin-bottom: 80px;
}

.khoi3 {
    text-align: center;
    padding: 80px;
}

p.tieudeanh {
    line-height: 200px;
}

.cot1:hover .layer2 {
    transform: scale(1);
}
.cot2:hover .layer2 {
    transform: scale(1);
}
.cot3:hover .layer2 {
    transform: scale(1);
}

.layer2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    font-size: 20px;
    font-family: 'Playball', cursive;
    color: white;
    background-color: #d32e2e5e;
    transition: 0.7s;
    transform: scale(0);
}

.layer1:hover .layer2 {
    transform: scale(1);
}

.layer1 {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

img.anh {
    width: 100%;
    height: 100%;
}

.cot {
    width: 30%;
    height: 200px;
    position: relative;
    cursor: pointer;
    margin-bottom: 50px;
}

.chiacot {
    width: 1110px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
}

.khoi2 {
    text-align: center;
    background-color: #ebb9b8;
    padding: 80px;
}

a.lik {text-decoration: none;color: #2e2ed3;}

a.lik:hover {
    color: #000055;
}

.tieude1 {
    font-size: 20px;
}

p.sp {
    margin-top: 20px;
    font-family: 'Playball', cursive;
    font-size: 20px;
}

hr.kh2 {
    background-color: white;
}

hr {
    width: 70px;
    height: 5px;
    margin: auto;
    margin-bottom: 20px;
    background-color: #2e2ed3;
    border: none;
    border-radius: 5px;
}

h3 {
    font-family: 'Playball', cursive;
    font-size: 40px;
}

h3.tdto2 {
    color: white;
}

.khoi1 {
    padding: 80px;
    text-align: center;
}

p.td {
    margin-top: 10px;
    font-size: 26px;
    color: #ffffff;
    font-family: 'Playball', cursive;
}

img.avt {
    
    border-radius: 100%;
    
    margin-bottom: 20px;
    
    width: 25%;
}

.menu {
    width: 400px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-family: Segoe UI;
    font-weight: 700;
    cursor: pointer;
}

p.abt:hover {
    color: #2e2ed3;
}
p.pol:hover {
    color: #2e2ed3;
}
p.cnt:hover {
    color: #2e2ed3;
}
p.hm:hover {
    color: #2e2ed3;
}



p.ten {
    font-size: 24px;
    font-family: 'Playball', cursive;
    font-weight: 700;
    cursor: pointer;
}

p.ten:hover {
    color:#2e2ed3
}

.logo {
    display: flex;
    height: 100%;
    align-items: center;
}

img.logoavt {
    height: 50px;
    margin-right: 10px;
    padding: 10px;
    
    border-radius: 50%;
   
    cursor: pointer;
}

.cangiua {
    height: 100%;
    display: flex;
    justify-content: space-between;
    width: 1110px;
    margin: auto;
    align-items: center;
}

nav {
    height: 72px;
    color: #000000;
    position: fixed;
    z-index: 9999;
    width: 100%;
    background-color: #7e7e7e7d;
}

body {
    font-family: 'Crimson Text', serif;
}

h1.ten {
    font-size: 80px;
    font-family: Segoe UI;
    font-weight: 700;
    color: currentColor;
    font-family: 'Playball', cursive;
}

header {
    height: 100%;
    text-align: center;
    padding: 200px;
    color: white;
    
    background-size: cover;
    background: url(https://www.trafalgar.com/real-word/wp-content/uploads/sites/3/2018/04/Mutter-paneer-India-www.istockphoto.com_gb_photo_mutter-paneer-in-india-gm484591838-71367991-byheaven.jpg);
    background-position-y: bottom;
}

.bg-nav {
    background-color:#333;
}

.mautrang {
    color:rgb(255, 255, 255)
}

.mauxanh {
    color: #0000ff;
}

.khoi4 {
    padding: 96px;
    color: #010101;
    background-color: beige;
    text-align: center;
}
::before {
    color: black;
}